# Dependencias
/node_modules

# Compilado
/dist
/build

# Variables de entorno (NUNCA subir)
.env
.env.local

# Base de datos SQLite local
*.sqlite
*.sqlite3
database.sqlite

# Logs
*.log
logs

# Cobertura de tests
/coverage

# Archivos del sistema / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
